.wmde-markdown-var {
    --color-canvas-default: #ffffff;
    --color-canvas-subtle: #f6f8fa;
    --color-border-default: #d0d7de;
    --color-border-muted: hsla(210, 18%, 87%, 1);
}

.w-md-editor {
    box-shadow: 0 0 0 1px var(--color-border-default) !important;
}

.w-md-editor-toolbar {
    border-bottom: 1px solid var(--color-border-muted) !important;
    background-color: var(--color-canvas-subtle) !important;
}

.w-md-editor-toolbar ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.w-md-editor-toolbar li {
    display: inline-block;
    margin-right: 4px;
}

.w-md-editor-content {
    background-color: var(--color-canvas-default) !important;
}